@import "tailwindcss";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --background: #0a092d;
  --foreground: #ffffff;
  --primary: #2293e5;
  --primaryHover: #423ed8;
  --cardColor: #2e3856;
  --cardColorHover: #586380;
  --iconColor: #ffffff;
  --textColor: #ffffff;
}

:root[data-theme="light"] {
  --background: #ffffff;
  --foreground: #0a092d;
  --primary: #2293e5;
  --primaryHover: #423ed8;
  --cardColor: #f6f7fb;
  --cardColorHover: #edeff4;
  --iconColor: #000000;
  --textColor: #000000;
  --capsule: #d1d5db;
  --grayText: #4b5563;
}

:root[data-theme="dark"] {
  --background: #0a092d;
  --foreground: #ffffff;
  --primary: #2293e5;
  --primaryHover: #423ed8;
  --cardColor: #2e3856;
  --cardColorHover: #586380;
  --iconColor: #ffffff;
  --textColor: #ffffff;
  --capsule: #6b7280;
  --grayText: #d1d5db;
}

.primaryColor {
  color: var(--primary);
}

@layer components {
  /* Primary Button: Rounded + Filled */
  .btn-primary {
    @apply px-5 py-2.5 text-white rounded-full font-normal text-sm transition-colors;
    background-color: var(--primary);
  }
  .btn-primary:hover {
    background-color: var(--primaryHover);
  }

  .social-btn-txt {
    @apply text-sm font-medium transition-colors text-gray-600;
  }

  .email-input:focus-within,
  .password-input:focus-within {
    @apply ring-2 focus:ring-[#7e89ed] focus:border-[#7e89ed];
  }

  .dob-selector {
    @apply appearance-none w-auto border-2 
     border-gray-300 rounded-full px-7 py-2 bg-auto text-gray-500 font-medium 
     focus:ring-2 focus:ring-indigo-200 focus:border-indigo-200 outline-none 
      bg-[url('/chevron-down.svg')] bg-no-repeat bg-position-[right_0.75rem_center] pr-10;
  }

  /* Text Button: Simple Text */
  .btn-text {
    @apply px-4 py-2 bg-transparent font-normal text-sm transition-colors;
    color: var(--primary);
  }
  .btn-text:hover {
    color: var(--primaryHover);
  }
}

@media (max-width: 768px) {
  .desk {
    display: none;
  }
  .mob {
    display: block;
  }
}

/* ------------------------ */

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes progress {
  0% {
    width: 0%;
  }
  50% {
    width: 70%;
  }
  100% {
    width: 100%;
  }
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-slide-down {
  animation: slide-down 0.3s ease-out;
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}

.animate-progress {
  animation: progress 2s ease-in-out infinite;
}

.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}
