@import "tailwindcss";
:root {
  --background: #f6f7fb;
  --foreground: #171717;
  --primary: #4255ff;
  --primaryHover: #423ed8;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.primaryColor {
  color: var(--primary);
}

@layer components {
  /* Primary Button: Rounded + Filled */
  .btn-primary {
    @apply px-4 py-2 text-white rounded font-normal text-sm transition-colors;
    background-color: var(--primary);
  }
  .btn-primary:hover {
    background-color: var(--primaryHover);
  }

  /* Text Button: Simple Text */
  .btn-text {
    @apply px-4 py-2 bg-transparent font-normal text-sm transition-colors;
    color: var(--primary);
  }
  .btn-text:hover {
    color: var(--primaryHover);
  }
}
