@import "tailwindcss";
:root {
  --background: #050624;
  --foreground: #ffffff;
  --primary: #4255ff;
  --primaryHover: #423ed8;
  --primary-gray: #050624;
  --latest-card: #2e3856;
  --latest-image: #586380;
}
/*
:root[data-theme="light"] {
   --background: #f6f7fb;
  --foreground: #171717;
  --primary: #4255ff;
  --primaryHover: #423ed8;
  --primary-gray: #f3f4f6;
  --latest-card: #b8c2e0;
  --latest-image: #586380; 

  --background: #050624;
  --foreground: #ffffff;
  --primary: #4255ff;
  --primaryHover: #423ed8;
  --primary-gray: #050624;
  --latest-card: #2e3856;
  --latest-image: #586380;
}

:root[data-theme="dark"] {
  --background: #050624;
  --foreground: #ffffff;
  --primary: #4255ff;
  --primaryHover: #423ed8;
  --primary-gray: #050624;
  --latest-card: #2e3856;
  --latest-image: #586380;
}
  */

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.primaryColor {
  color: var(--primary);
}

@layer components {
  /* Primary Button: Rounded + Filled */
  .btn-primary {
    @apply px-5 py-2.5 text-white rounded-full font-normal text-sm transition-colors;
    background-color: var(--primary);
  }
  .btn-primary:hover {
    background-color: var(--primaryHover);
  }

  .social-btn-txt {
    @apply text-sm font-medium transition-colors text-gray-600;
  }

  .email-input:focus-within,
  .password-input:focus-within {
    @apply ring-2 focus:ring-[#7e89ed] focus:border-[#7e89ed];
  }

  .dob-selector {
    @apply appearance-none w-auto border-2 
     border-gray-300 rounded-full px-7 py-2 bg-auto text-gray-500 font-medium 
     focus:ring-2 focus:ring-indigo-200 focus:border-indigo-200 outline-none 
      bg-[url('/chevron-down.svg')] bg-no-repeat bg-position-[right_0.75rem_center] pr-10;
  }

  /* Text Button: Simple Text */
  .btn-text {
    @apply px-4 py-2 bg-transparent font-normal text-sm transition-colors;
    color: var(--primary);
  }
  .btn-text:hover {
    color: var(--primaryHover);
  }
}
