.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 5px;
  border: 2px solid rgba(255, 255, 255, 0.3);
}
[data-theme="light"] .card {
  background-color: rgba(255, 255, 255);
  border: 2px solid lightgray;
}
